<form method="post">
    <div class="form-row">

        <div class="col-md-6">
            <div class="picture-container">
                <div class="picture">
                    <img src="{{beast.picture}}" class="picture-src" title="{{beast.name}}">
                    <input type="file" id="wizard-picture">
                </div>
                <h6>Modifier l'image</h6>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-group">
                <label for="title">Nom :</label>
                <input type="text" class="form-control" name="name" value="{{beast.name}}" >
            </div>
            <div class="form-group">
                <label for="picture">image (minimum 350 x 350 pixels) : </label>
                <input type="text" class="form-control" name="picture" id="picture" value="{{beast.picture}}" />
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">zone :</label>
            <input type="text" class="form-control" name="area" value="{{beast.area}}" >
        </div>
        <div class="form-group col-md-6">
            <label for="size">taille (en mètre):</label>
            <input type="text" class="form-control" name="size" id="size" value="{{beast.size}}" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planet">planète :</label>
            <select name="planet" class="custom-select" id="planet">
                <option value=""></option>
                {% for planet in planets %}
                <option value="{{planet.id}}" {{ beast.id_planet == planet.id ? "selected" }}>{{planet.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="movies">première apparition :</label>
            <select name="movie" class="custom-select" id="movie">
                <option value=""></option>
                {% for movie in movies %}
                <option value="{{movie.id}}" {{ beast.id_movie == movie.id ? "selected" }}>{{movie.title}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right consular">
        </div>
    </div>
</form>
