{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{beast.name}} </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/delete/{{beast.id}}" class="float-right btn row-btn sith">Supprimer</a>
        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">
            <img src="{{beast.picture}}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
            <p>Surface : {{beast.area}}</p>
            <p>Taille : {{beast.size}}</p>
            <p>Planète : {{beast.planet}} </p>
            <p>Première apparition : {{beast.movie}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/edit/{{beast.id}}" class="float-right btn jedi">Mettre à jour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/list" class="float-left btn sentinel row-btn" >Retour</a>
        </div>
    </div>
{% endblock %}
