{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{beast.name}} </h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post" action="/beast/delete/{{beast.id}}">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 text-center">
            <img src="{{beast.picture}}" alt="{{beast.name}}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
        <div class="figure-data">
                <h3 class="title">Surface : </h3>
                <p>{{beast.area}}</p>
            </div>
            <div class="figure-data">
                <h3 class="title">Taille (en mètres) : </h3>
                <p>{{beast.size}}</p>
            </div>
            <div class="figure-data">
                <h3 class="title">Planète : </h3>
                <p>{{beast.planet}}</p>
            </div>
            <div class="figure-data">
                <h3 class="title">Première apparition : </h3>
                <p>{{beast.movie}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/edit/{{beast.id}}" class="float-right btn jedi">Mettre à jour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/list" class="float-left btn sentinel row-btn" >Retour</a>
        </div>
    </div>
{% endblock %}
