{% extends 'layout.html.twig' %}

{% block title %}Star Wars - {{beast.name}}{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{beast.name}} </h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post" action="/beast/delete/{{beast.id}}">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="col-8">
                {% if beast.picture %}
                    <img src="{{beast.picture}}" alt="{{beast.name}}" class="img-fluid" />
                {% else %}
                    <img src="{{noPicture}}" alt="Pas d'image" class="img-fluid" />
                {% endif %}
            </div>
        </figure>
        <div class="col-12 col-md-8">
            <div class="wrapper-data">
                <h4 class="title">Nom : </h4>
                <p>{{beast.name}}</p>
            </div>
            <div class="wrapper-data">
                <h4 class="title">Taille (en mètres) : </h4>
                <p>{{beast.size}}</p>
            </div>
            <div class="wrapper-data">
                <h4 class="title">Planète : </h4>
                <p>{{beast.planet}}</p>
            </div>
            <div class="wrapper-data">
                <h4 class="title">Surface : </h4>
                <p>{{beast.area}}</p>
            </div>
            <div class="wrapper-data">
                <h4 class="title">Première apparition : </h4>
                <p>{{beast.movie}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/edit/{{beast.id}}" class="float-right btn jedi">Mettre à jour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/list" class="float-left btn sentinel row-btn" >Retour</a>
        </div>
    </div>
{% endblock %}
