<form method="post" enctype="multipart/form-data" class="mb-3" >
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="name">nom :</label>
            <input type="text" class="form-control" name="title" value="{{movie.title}}">
            <div class="invalid-feedback sith">
                {{ titleError }}
            </div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="new-picture">image :</label>
            <label class="label-picture col-12">{{movie.picture}}</label>
            <input type="hidden" name="picture" value="{{movie.picture}}" >
            <input type="file" id="new-picture" name="new-picture" class="form-control"  />
            <div class="invalid-feedback sith">
                {{ pictureError }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right consular">
        </div>
    </div>
</form>
