{% extends 'layout.html.twig' %}

{% block title %}Star Wars - {{movie.title}}{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{movie.title}} </h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post" action="/movie/delete/{{movie.id}}">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="col-8 offset-2">
                {% if movie.picture %}
                    <img src="{{movie.picture}}" alt="{{movie.title}}" class="img-fluid"/>
                {% else %}
                    <img src="{{noPicture}}" alt="Pas d'image" class="img-fluid" />
                {% endif %}
            </div>
        </figure>
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <div class="wrapper-data">
                <h4 class="title">Nom du Film : </h4>
                <p>{{movie.title}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/movie/edit/{{movie.id}}" class="float-right btn jedi">Mettre à jour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/movie/list" class="float-left btn row-btn sentinel" >Retour</a>
        </div>
    </div>
{% endblock %}
