{% extends 'layout.html.twig' %}

{% block title %}Star Wars - les Films{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12">les films</h1>
    </div>
    <nav class="row">
        <a href="/movie/add" class="btn sentinel" >ajouter un film</a>
    </nav>
    <div class="row detail">
        {% for movie in movies %}
            <div class="col-md-4 col-sm-12 text-center card-view">
                <a href="/movie/details/{{movie.id}}">
                    {% if movie.picture %}
                        <img src="{{movie.picture}}" alt="{{movie.title}}" border="0" />
                    {% else %}
                        <img src="{{noPicture}}" alt="Pas d'image" border="0" />
                    {% endif %}
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h5>{{movie.title}}</h5>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-12 text-center">Noter une référence à un films Star Wars tu dois....</div>
        {% endfor %}
    </div>
{% endblock %}
