<div class="row mb-4">
    <form method="post" enctype="multipart/form-data" class="col-12 col-md-4 d-flex flex-column">
        <div class="form-row">
            <div class="form-group col-8 offset-2">
                {% if figure.picture %}
                    <img src="{{figure.picture}}" class="picture" alt="{{figure.name}}" title="{{figure.name}}" />
                {% else %}
                    <img src="{{noPicture}}" class="picture" alt="Pas d'image" title="Pas d'image" />
                {% endif %}
                <input type="hidden" id="picture" name="picture" value="{{figure.picture}}" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 d-flex flex-column">
                <input type="file" id="new-picture" name="new-picture" />
                <div class="invalid-feedback sith">
                    {{ nameError }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 d-flex justify-content-center">
                <input type="submit" value="Valider l'image" class="btn consular"/>
            </div>
        </div>
    </form>
    <form method="post" class="col-12 col-md-8 d-flex flex-column">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="name">nom :</label>
                <input type="text" class="form-control" name="name" value="{{figure.name}}" />
                <div class="invalid-feedback sith">
                    {{ nameError }}
                </div>
            </div>
            <div class="form-group col-12">
                <label for="bio">biographie :</label>
                <textarea id="bio" name="bio" class="form-control" rows="8" >
                    {{figure.bio}}
                </textarea>
                <div class="invalid-feedback sith">
                    {{ bioError }}
                </div>
            </div>
            <div class="form-group col-12">
                <label for="faction">Faction :</label>
                <select name="faction" class="custom-select" id="faction">
                    <option value="" ></option>
                    {% for faction in factions %}
                        <option value="{{faction.id}}" {{ figure.id_faction == faction.id ? "selected" }}>{{faction.name}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback sith">
                    {{ factionError }}
                </div>
            </div>
            <div class="form-group col-12">
                <label for="movie">Première apparition :</label>
                <select name="movie" class="custom-select" id="movie">
                    <option value="" ></option>
                    {% for movie in movies %}
                        <option value="{{movie.id}}" {{ figure.id_movie == movie.id ? "selected" }}>{{movie.title}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback sith">
                    {{ movieError }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 d-flex justify-content-center">
                <input type="submit" name="modify-data" value="Valider les données" class="consular">
            </div>
        </div>
    </form>
</div>
