<form method="post" enctype="multipart/form-data" class="mb-3" >
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="name">nom :</label>
            <input type="text" class="form-control" name="name" value="{{figure.name}}" />
            <div class="invalid-feedback sith">
                {{ nameError }}
            </div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="new-picture">image :</label>
            <label class="label-picture col-12">{{ pictureName }}</label>
            <input type="hidden" name="picture" value="{{figure.picture}}" >
            <input type="file" id="new-picture" name="new-picture" class="form-control"  />
            <div class="invalid-feedback sith">
                {{ pictureError }}
            </div>
        </div>
        <div class="form-group col-12">
            <label for="bio">biographie :</label>
            <textarea id="bio" name="bio" class="form-control" rows="5" >
                {{figure.bio}}
            </textarea>
            <div class="invalid-feedback sith">
                {{ bioError }}
            </div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="faction">Faction :</label>
            <select name="faction" class="custom-select" id="faction">
                <option value="" ></option>
                {% for faction in factions %}
                    <option value="{{faction.id}}" {{ figure.id_faction == faction.id ? "selected" }}>{{faction.name}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback sith">
                {{ factionError }}
            </div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="movie">Première apparition :</label>
            <select name="movie" class="custom-select" id="movie">
                <option value="" ></option>
                {% for movie in movies %}
                    <option value="{{movie.id}}" {{ figure.id_movie == movie.id ? "selected" }}>{{movie.title}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback sith">
                {{ movieError }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right consular">
        </div>
    </div>
</form>
