{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{figure.name}}</h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">
            <img src="{{figure.picture}}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
            <p>Biographie : {{figure.bio}}</p>
            <p>Première apparition : {{figure.movie}}</p>
            <p>Faction : {{figure.faction}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/figure/edit/{{figure.id}}" class="float-right btn jedi">mise à jour</a>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
          <a href="/figure/list" class="float-left btn sentinel row-btn" >Retour</a>
      </div>
  </div>
{% endblock %}
