{% extends 'layout.html.twig' %}

{% block title %}Star Wars - {{figure.name}}{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{figure.name}}</h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post" action="/figure/delete/{{figure.id}}">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <img src="{{figure.picture}}" alt="{{figure.name}}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <div class="wrapper-data">
                <h3 class="title">Biographie : </h3>
                <p>{{figure.bio}}</p>
            </div>
            <div class="wrapper-data">
                <h3 class="title">Première apparition : </h3>
                <p>{{figure.movie}}</p>
            </div>
            <div class="wrapper-data">
                <h3 class="title">Faction : </h3>
                <p>{{figure.faction}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/figure/edit/{{figure.id}}" class="float-right btn jedi">mise à jour</a>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
          <a href="/figure/list" class="float-left btn sentinel row-btn" >Retour</a>
      </div>
    </div>
{% endblock %}
