{% extends 'layout.html.twig' %}

{% block title %}Star Wars - {{figure.name}}{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{figure.name}}</h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post" action="/figure/delete/{{figure.id}}">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="col-8 offset-2">
                {% if figure.picture %}
                    <img src="{{figure.picture}}" alt="{{figure.name}}" title="{{figure.name}}" class="img-fluid"/>
                {% else %}
                    <img src="{{noPicture}}" alt="Pas d'image" title="Pas d'image" class="img-fluid" />
                {% endif %}
            </div>
        </figure>
        <div class="col-12 col-md-8">
            <div class="wrapper-data">
                <h4 class="title">Nom : </h4>
                <p>{{figure.name}}</p>
            </div>
            <div class="wrapper-data">
                <h4 class="title">Biographie : </h4>
                <p>{{figure.bio}}</p>
            </div>
            <div class="wrapper-data">
                <h4 class="title">Faction : </h4>
                <p>{{figure.faction}}</p>
            </div>
            <div class="wrapper-data">
                <h4 class="title">Première apparition : </h4>
                <p>{{figure.movie}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/figure/edit/{{figure.id}}" class="float-right btn jedi">mise à jour</a>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
          <a href="/figure/list" class="float-left btn sentinel row-btn" >Retour</a>
      </div>
    </div>
{% endblock %}
