<form method="post" enctype="multipart/form-data" class="mb-3" >
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="name">nom :</label>
            <input type="text" name="name" value="{{planet.name}}" class="form-control" />
            <div class="invalid-feedback sith">
                {{ nameError }}
            </div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="new-picture">image :</label>
            {% if planet.picture %}
                <label class="label-picture col-12">{{ pictureName }}</label>
            {% endif %}
            <input type="hidden" name="picture" value="{{planet.picture}}" >
            <input type="file" id="new-picture" name="new-picture" class="form-control"  />
            <div class="invalid-feedback sith">
                {{ pictureError }}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right consular">
        </div>
    </div>
</form>
