<div class="row mb-4">
    <form method="post" enctype="multipart/form-data" class="col-12 col-md-4 d-flex flex-column">
        <div class="form-row">
            <div class="form-group col-8 offset-2">
                {% if planet.picture %}
                    <img src="{{planet.picture}}" class="picture" alt="{{planet.name}}" title="{{planet.name}}" />
                {% else %}
                    <img src="{{noPicture}}" class="picture" alt="Pas d'image" title="Pas d'image" />
                {% endif %}
                <input type="hidden" id="picture" name="picture" value="{{planet.picture}}" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 d-flex flex-column">
                <input type="file" id="new-picture" name="new-picture" />
                <div class="invalid-feedback sith">
                    {{ nameError }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 d-flex justify-content-center">
                <input type="submit" value="Modifier l'image" class="btn consular"/>
            </div>
        </div>
    </form>
    <form method="post" class="col-12 col-md-8 d-flex flex-column">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="title">nom :</label>
                <input type="text" class="form-control" name="name" value="{{planet.name}}">
                <div class="invalid-feedback sith">
                    {{ nameError }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 d-flex justify-content-center">
                <input type="submit" name="modify-data" value="Modifier les données" class="consular">
            </div>
        </div>
    </form>
</div>
