{% extends 'layout.html.twig' %}

{% block title %}Star Wars - {{planet.name}}{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12 d-flex justify-content-center">{{planet.name}} </h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post" action="/planet/delete/{{planet.id}}">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="col-8 offset-2">
                {% if planet.picture %}
                    <img src="{{planet.picture}}" alt="{{planet.name}}" class="img-fluid" />
                {% else %}
                    <img src="{{noPicture}}" alt="Pas d'image" class="img-fluid" />
                {% endif %}
            </div>
        </figure>
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <div class="wrapper-data">
                <h3 class="title">Nom de la Planète : </h3>
                <p>{{planet.name}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/planet/edit/{{planet.id}}" class="float-right btn jedi">Mettre à jour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/planet/list" class="float-left btn sentinel row-btn" >Retour</a>
        </div>
    </div>
{% endblock %}
