{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{planet.name}} </h1>
    </div>
    <div class="row row-btn">
        <form class="col-12" method="post" action="/planet/delete/{{figure.id}}">
            <input type="submit" name="delete" value="supprimer" class="float-right btn sith">
        </form>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 text-center">
            <img src="{{planet.picture}}" alt="{{planet.name}}" class="img-fluid"/>
        </figure>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/planet/edit/{{planet.id}}" class="float-right btn jedi">Mettre à jour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/planet/list" class="float-left btn sentinel row-btn" >Retour</a>
        </div>
    </div>
{% endblock %}
